*{
    margin: 0;
    padding: 0; 
    font-family: myfont , sans-serif;
}

body{
    background-image: url(background_img.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
}

.navig_bar{
display:flex;
padding: 2% 6%;
justify-content: space-between;
align-items: center;
margin-top: 0%;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li  a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: all .3s ease;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #dcf206;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

@font-face {
    font-family: myfont;
    src: url(batmfa__.ttf);
}

header{
    min-height: 100hv;
    width: 100%;
    background: rgb(0,3,7);
    background: radial-gradient(circle, rgba(0,3,7,0.876715652081145) 0%, rgba(220,242,6,0.7786764363948704) 100%);
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo{
    mix-blend-mode: multiply;
}

main{
    background: rgb(166,172,21);
    background: radial-gradient(circle, rgba(166,172,21,0.7002450638458508) 0%, rgba(166,172,21,0.4789565484396884) 49%);
}

.Welcome_header{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Welcome_header h1{
    font-size: 62px;
    font-style: url(batmfo__.ttf);
}

.Welcome_header p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}