body {
    background: rgb(181, 36, 103);     /* red, blue, yellow, etc */
    color: rgb(5, 70, 126);             /* red, blue, yellow, etc */
    font-size: 50px;        /* 0px - 100px and beyond */
    font-weight: bold;   /* lighter, normal, bold  */
    text-align: center;      /* left, center or right  */ 
    margin-top: 20px;        /* From 0px and upwards   */
}